/* Feuille de style appliquée à l'ensemble du projet */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("./img/coffee-beans-background.jpg"); 
    background-size: cover;
    background-position: center;
}

h1 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    padding: 30px auto;
}

nav {
    background-color: #6f4e37;
    padding: 20px;
    text-align: center;
}

nav.footer {
    padding: 50px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

nav a:hover {
    color: #352519;
}

.header {
    text-align: center;
    padding: 100px 20px;
    background: rgba(214, 213, 213, 0.678);
}

.header .title {
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: #352519;
}

.header .subtitle {
    font-size: 25px;
    margin: 20px;
    color: white;
}

.section {
    padding: 60px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px auto;
    width: 80%;
    border-radius: 10px;
}

.section h2 {
    color: #6f4e37;
    font-size: 34px;
    margin-bottom: 20px;
}

.left {
    width: 30%;
    min-width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.left img {
    min-width: 200px;
}
.right {
    max-width: 600px;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product-card {
    background-color: #fff;
    color: #6f4e37;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 30%;
    max-width: 300px;
}

.product-card h3 {
    margin-top: 0;
}

.products a {
    display: block;
    text-align: center;
    color: #6f4e37;
    font-weight: bold;
    text-decoration: none;
    margin-top: 20px;
}

.products-detail {
    width: 40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.products-card img {
    max-width: 80%;
    margin: 5px auto;
}

.btn {
    background-color: #fff;
    color: #6f4e37;
    padding: 20px;
    margin: 10px auto;
    border-radius: 20px;
}

.btn:hover {
    background-color: #352519;
    color: antiquewhite;
}

.recipe {
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe h2 {
    color: #6f4e37;
    margin-top: 0;
}

.recipe h3 {
    color: #6f4e37;
    margin-bottom: 10px;
}

.recipe ul {
    padding-left: 20px;
}

.recipe p {
    margin-top: 0;
}

.recipe-card {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.recipe-ingredients {
    width: 40%;
}

.recipe-instructions {
    width: 60%;
}